{{define "title" }}Home Title{{ end }}

{{define "content"}}
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
    <p>Here there be content...</p>
{{end}}

{{define "footer"}}
    <p>Here there be footer...</p>
{{end}}